body {
	margin: 0;
	font: 18px/21px Georgia, Arial, Helvetica, Verdana, sans-serif;
	background-image: url(/images/blue_gradient.png);
	/*background-color: #0085FF; */
	background-color: dodgerblue;

	font-weight: normal;
	/*color: #80DAFF;*/
	color: black;
}

h1, h2 {
	font: 36px Georgia, Arial, Helvetica, Verdana, sans-serif;
	font-family: Georgia, Arial, Helvetica, Verdana, sans-serif;
	font-weight: normal;
	letter-spacing: -1px;
	color: black;
}

h2.menu{
	font-family: Georgia, Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	color: dodgerblue;
	margin: 3;
	
}

h3, h4, h5 {
	font-family: Georgia, Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	color: black;
	margin: 0;
}

pre {
	background-color: #eeeeee;
	padding: 10px;
	font-size: 11px;
}

fieldset {
	background-color: #f6f6f6;
	border: 1px solid #ccc;
	margin: 0;
}

a {
	/*color: #FFB3E0;*/
	color: skyblue;
	font-weight: normal;
	text-decoration: none;
	background-color: none;
}

a:hover {
	color: white;
	text-decoration: none;
	background-color: deeppink;
}

img {
	border: none;
}
img.x
{
position:absolute;
left: 610px;
top: 0 px
z-index:-1
}

img.y
{
position:absolute;
left: 120px;
top: 320px
z-index:-2
}

form {
	font-family:Georgia, Arial, Helvetica, Verdana, sans-serif;
	margin: 0;
}

#sleeptime_bedtime_1i,
#sleeptime_bedtime_2i,
#sleeptime_bedtime_3i,
#sleeptime_bedtime_4i,
#sleeptime_bedtime_5i{
	font-family:Georgia, Arial, Helvetica, Verdana, sans-serif;
	font-size: 18px;
	font-weight: normal;
	background-color:black;
	border: none;
    color:deeppink;
}


#sleeptime_wakeup_1i,
#sleeptime_wakeup_2i,
#sleeptime_wakeup_3i,
#sleeptime_wakeup_4i,
#sleeptime_wakeup_5i{
	font-family:Georgia, Arial, Helvetica, Verdana, sans-serif;
	font-size: 18px;
	font-weight: normal;
	background-color:black;
	border: none;
    color:yellow;
}

#sleeptime_quality{
	font-family:Georgia, Arial, Helvetica, Verdana, sans-serif;
	font-size: 18px;
	font-weight: normal;
	background-color:black;
	border: none;
    color:deeppink;
	/*
	font-family:Georgia, Arial, Helvetica, Verdana, sans-serif;
	font-size: 18px;
	font-weight: bold;
	background-color:black;
	border: none;
	color:deeppink;
	width:40px;
	padding:5px*/
}

#dream {
	font-family:Georgia, Arial, Helvetica, Verdana, sans-serif;
	font-size: 24px;
	font-weight: normal;
	text-align:center;
	background-color:black;
	border: none;
	color:dodgerblue;
	width:800px;
	height:300px;
	padding:10px
}

#signup-login, #signup-email, #signup-password, #signup-confirm, #update-login, #update-email, #update-password, #update-confirm{
	font-family:Georgia, Arial, Helvetica, Verdana, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align:center;
	background-color:black;
	border: none;
	color:deeppink;
	width:200px;
	height:20px;
	margin-bottom:2px;
	padding:0px;
}


#login, #password{
	font-family:Georgia, Arial, Helvetica, Verdana, sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-align:center;
	background-color:black;
	border: none;
	color:deeppink;
	width:120px;
	height:20px;
	margin-bottom:2px;
	padding:0px;
}


#createInterval {
	position:absolute;
	font-family:Georgia, Arial, Helvetica, Verdana, sans-serif;
	font-size: 18px;
	font-weight: bold;
    right:0px;
	background-color:black;
    /*border: none;*/
	color:deeppink;
	width:80px;
	padding:5px;
}

#login-button, #logout-button, #signup-button ,#update-button  {
	position:relative;
	font-family:Georgia, Arial, Helvetica, Verdana, sans-serif;
	font-size: 16px;
	font-weight: bold;
    right:0px;
	background-color:black;
    /*border: none;*/
	color:dodgerblue;
	width:80px;
	padding:3px;
}


ul{
	list-style: none;
	margin: 0;
	padding-left: 0;
}

 
li {
	list-style: none;
	margin: 0;
	padding-left: 15;
}
p {
	background-color: none;
	padding:0;
	font: 18px/21px Georgia, Arial, Helvetica, Verdana, sans-serif;
	font-weight: normal;
}

/* Layout*/

#content-wrapper {
	margin:  auto;
	width: 820px;
	border: 0px solid red;
	padding: 10px;
	position: relative;
	background-color: none;
}

#sidebarleft {
	background-color: none;
	position: absolute;
	text-align:left;
	top: 10px;
	left: 10px;
	width: 200px;
	padding: 10px;
	border: 0px solid red;
}

#sidebarright {
	background-color: none;
	position: absolute;
	text-align:right;
	top: 10px;
	left: 620px;
	width: 200px;
	padding: 10px;
	border: 0px solid red;
}

#sidebar.small {
	background-color: white;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 120px;
	padding: 10px;
	border: 0px solid red;
}




/* IDs */
#page{
	margin-left: 190px;
	border: 0px solid green;
}


#content {
	

	margin-left: 0px;
	background-color: none;
	border: 0px solid red;
	padding: 10px;

	width: 820px;
	
}


#content_right {
	background-color: white;
	border: 0px solid red;
	padding: 10px;

	text-align:right;
}


#header {
	background-color: none;
	text-align:center;
	padding-bottom: 40px;
	border: 0px solid red;

}


#subheaderleft{
	background-color: none;
	border: 0px solid red;
	padding: 10px;

	text-align:left;
	
	
}
#subheaderright{
	background-color: none;
	border: 0px solid red;
	padding: 10px;

	text-align:right;
	
	
	
}

#footer {
	font: 14px/18px Georgia, Arial, Helvetica, Verdana, sans-serif;
	background-color: black;
	color:dodgerblue;
	text-align:left;
	padding: 4px;
	border: 0px solid red;

}

#top-bar {
	font: 14px/18px Georgia, Arial, Helvetica, Verdana, sans-serif;
	background-color: black;
	color:dodgerblue;
	text-align:left;
	padding: 4px;
	border: 0px solid red;

}

#sleep-interval-list {
	
	
	
}


#interval {
	background-color: white;
	padding:0;
	font: 12px/14px Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	
}

#links {
	background-color: yellow;
	padding:0;
	font: 12px/14px Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	
}

#timeline {
	
	border: 0px solid yellow;
	
}


div #hours {
	color: black;
	position: relative;
	/*left: 225px;*/
	word-spacing: 30px;	
	padding-top:5px;
	text-align:center;
}

div #today {
	position: relative;
	color: black;
	position: relative;
	text-align:center;
	padding-bottom:5px;
	word-spacing: 230px;
	
}

div #time {
	position: relative;
	color: black;
	position: relative;
	text-align:center;
	padding-top:5px;
	word-spacing: 120px;	
	
}

div #notice{
	position: absolute;
	width: 820px;
	background-color: none;
	border: 0px solid red;
	top: 6px;
	text-align:center;
	padding: 10px;
	color: white;	
}

#clock{
	position: relative;
	background-color: none;
	border:0px solid red;
	padding:0px;
	color: none;	
}

.user-list{
	padding-left:0px;
}

#sleeptime-nav{
	padding:0px;
	text-align:center;
}

#all-dreams{
	padding:0px;
	text-align:center;
	text-align:justify;
}

#user-profile{
	text-align:right;

	width:505px;
}

#current-month{
	text-align:center;
	
}

#paper-0{ 
	    cursor:crosshair;
		position:relative;
		border: opx solid black; 
        background-color: #000;		
}