body {
	margin: 0;
	font: 12px/14px Arial, Helvetica, Verdana, sans-serif;
	color: #555;
	background-color: white;
}

h1, h2 {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	color: #555;	
}

h2.menu{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	color: #555;
	margin: 3;
	
}

h4, h5 {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	color: #555;
	margin: 0;
}


h3 {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	color: #555;
	margin: 0;

	margin: 0 0 0 50px;
	padding:10;
}
pre {
	background-color: #eeeeee;
	padding: 10px;
	font-size: 11px;
}

fieldset {
	background-color: #f6f6f6;
	border: 1px solid #ccc;
	margin: 0;
}

a {
	color: #00bbee;
	font-weight: bold;
	background-color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #00bbee;
}

img {
	
	border: none;
}

form {
	margin: 0;
}

input {
	font-size: 18px;
	font-weight: bold;
}


ul{
	list-style: none;
	margin: 0;
	padding-left: 0;
}

ul.content{
	list-style: none;
	margin: 0 0 0 50px;
	padding:10;
}

 
li {
	list-style: none;
	margin: 0;
	padding-left: 15;
}
p {
	background-color: white;
	margin: 0 0 0 50px;
	padding:10;
}

code{
	font: 9px/11px monaco, courier, monospace;
	color: #555;
	background-color: white;
	
	
}
pre{
	font: 9px/11px monaco, courier, monospace;
	color: #555;
	background-color: white;
	margin: 0 0 0 50px;
}


/* Layout*/

#content-wrapper {
	margin: 10 auto;
	width: 830px;
	
	padding: 10px;
	position: relative;
	background-color: white;
}

#sidebar {
	background-color: white;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 170px;
	padding: 10px;
	border: 0px solid red;
}

/* IDs */
#page{
	margin-left: 190;
	border: 0px solid green;
}


#content {
	background-color: white;
	border: 0px solid red;
	padding: 20px;
	border: 0px black;
}


#content_right {
	background-color: white;
	border: 0px solid red;
	padding: 10px;
	border: 0px black;
	text-align:right;
}


#header {
	background-color: white;
	text-align:right;
	padding: 10px;
	border: 0px solid red;
}

#title {
	background-color: white;
	text-align:right;
	padding: 10px;
	border: 0px solid red;
}




#footer {

}