body {
    background-color: white;
    color: black;
    font-weight: bold;
    font: 90% "Andale Mono", Monaco, monospace;
    margin:  0;
}

h1, h2, h3, h4, h5, h6 {
 	font-weight: bold;
 	line-height:  100%;
 	letter-spacing: -1px;
}

h1, h2 {
  	font-size: 1.5em;
 	margin: 0 0 .7em 0;
}
 
h3, h4, h5, h6, p, li {
 	font-size: 	1em;
 	line-height: 1.3em;
 	margin: 0 0 .7em 0;
}

pre {
 	background-color: #eeeeee;
 	padding: 10px;
 	font-size: 11px;
}

fieldset {
 	background-color: #f6f6f6;
 	border: 1px solid #ccc;
 	margin: 0;
}

a {
 	color: #09c;
 	font-weight: bold;
 	text-decoration: none;
}

a:hover {
  	background-color: #dcdceb;
}

img {
 	border: none;
}

form {
 	margin: 0;
}

input {
    font-size: 1.2em;
 	font-weight: bold;
 	font-family: "Andale Mono", Monaco, monospace;
}

ul {
 	list-style: none;
 	margin: 0;
 	padding: 0;
}

ul ul {
     margin-left:  1.4em;
}
 
/* --- STRUCTURE ----------------------------------------------------------- */
 
 
#header {
     padding: 1.4em 2em;
     background-color: #000;
     border-bottom: 2px solid #09f;
     color: white;
     position: relative;
}
  
#page, #flash {
      margin: 2em 2.1em;
      clear:  both;
      position: relative;
}
 
/* --- NAVIGATION -------------------------------------------------------- */

#nav {
    position: absolute;
    top: 2em;
    right: 2em;
}

#nav a {
 	font-weight: normal;
 	color: white;
 	padding:  .3em;
    margin-left: .1em;
    background-color: #333;
}

#nav a:hover {
    background-color: #666;
}

/* --- HEADER ----------------------------------------------------------- */

#header h1 span {

}

#header h1 a {
    display: block;
    color: white;
}

#header h1, #header h1 a {
    margin: 0;
    height: 0;
    height: 27px;
    width: 225px;
}

/* --- FLASH ------------------------------------------------------------ */


#flash div {
    padding: 1em 0;
}

#flash_warning {
}

/* --- CONTRACT CONSTRUCTION -------------------------------------------- */

.ccValues {
    
}


.cc {
    background-color: #fff;
    overflow: visible;
    margin-bottom: 7px;
    cursor: move;
    margin-right: 30%;
}

.cc .body {
    border: 1px solid #0099ff;
    border-left: none;    
    margin-left: 20px;
    padding: 1em;
    background: url(../images/condition_bg.png);
}

.cc .downArrow {
    z-index: 2000;
    position: absolute;
    left: 35px;
    bottom: -15px;
}

.cc td {
    padding-right: .5em;
}

.cc .handle {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 100%;
    background-color: #0099ff;
}

.cc .handle a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: transparent url(../images/close.png) no-repeat center center;
}

.cc .handle a span {
    display: none;
}