* {
	outline:none;
	margin:0;
	padding:0;
	text-decoration:none;
	border:0;
}

img {
	margin: 0;
	padding: 0;
}



.bgs {
	position: absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	z-index: -100;
	overflow: hidden;
	background-position: center center;
	background-size: cover;
	/*
	-webkit-filter: blur(5px) contrast(1.5) ;
	filter: blur(5px) contrast(1.5) ;
	*/

}

.bgs img {
	position: absolute;
	top:0px;
	left:0px;
	height: 100%;
	width: auto;
	display: none;
}

.bullet {
	cursor: pointer;
	color: #ffffff;
	font-size:2.1em;
	padding:0 12px;
}

.bullet.current {
	color: black;
}

#wrap {
	width: 576px;
	margin: 0px auto;
	position: relative;
	text-align: center;
}

.signature {
	position: absolute;
	top: 0px;
	left: 20px;
	width: 160px;
	height: 160px;
	xbackground: black url('../img/bgs/5.jpg') center center no-repeat;
	background-size:cover;
	color: #eeeeee;
	box-sizing:border-box;
	z-index:2;
}
.signature p{

}


.bullets {
	position: absolute;
	bottom:80px;
	width:100%;
	height:82px;
}

.bullets p {
	font-size:9px;
	text-align: center;
	width: 581px;
	margin: 27px auto;
}