html, body{
	margin:0;
	background:black url('img/grid.png');
	background:#111;
	/*
	font-family: 'Inconsolata', sans-serif;
	*/
	font-family: 'Nunito', sans-serif;
	height:120%;
	/*
	-webkit-filter: blur(4px) hue-rotate(60deg);
	*/
}

@media screen and (max-width: 320px) {
  .ios {
    min-height: 416px;  /* viewport 356px + 60px navigation bar */
  }
}
/* Landscape mode */
@media screen and (min-width: 321px) {
  .ios {
    min-height: 268;  /* viewport 208px + 60px navigation bar */
  }
}
#picture-bg.hide{
	display:none;
}

#picture-bg.show{
 	display:visible;
 	width:100%;
 	height:100%;
 	position:fixed;
 	background:red url('../img/load/dream.jpg');
 	background-size:cover;
}

.ios #video-bg{
 	display:none;
}

.ios #picture-bg{
 	display:visible;
 	background:yellow;
 	background-size:cover;
}



::-webkit-scrollbar { 
	display: none;
}
/*
#top-bar.tube-pause{
	background:rgba(0,0,0,0);
	-webkit-transition: background .4s ease;
}

#top-bar.tube-play{
	background:rgba(0,0,0,1);
	-webkit-transition: background .4s ease;
}
*/
#top-bar{
	background:rgba(0,0,0,0);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120px;
	height:60px;
	box-shadow:0 0 0px 0 rgba(0,0,0,0.1);
	z-index:10;
	-webkit-transition: background .4s ease;
	cursor:pointer;
	display:none;
}

#top-bar .caret{
	position:relative;
	width:40px;
	height:40px;
	margin:10px auto;
}

.caret.up{
	-webkit-transform:rotate(0deg);
	-webkit-transition: -webkit-transform .4s ease;
}
.caret.left{
	-webkit-transform:rotate(270deg);
	-webkit-transition: -webkit-transform .4s ease;
}
.caret.down{
	-webkit-transform:rotate(180deg);
	-webkit-transition: -webkit-transform .4s ease;
}
.caret.right{
	-webkit-transform:rotate(90deg);
	-webkit-transition: -webkit-transform .4s ease;
}

.ios #top-bar .anagram{
	display:none;
}

.android #top-bar .anagram{
	display:none;
}

#top-bar .anagram{

	position:fixed;
	left:20px;
	height:40px;
	width:40px;
	padding:10px;
	z-index:12;
	-webkit-transition: left 1s ease;
}
.hidden{
	display:none;
}

#top-bar .anagram:hover{}

path.white{
	fill:#eee;
}

path.black{
	fill:#000;
}

g.white path{
	fill:#eee;
}

#video-overlay{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:2;
	display:none;
}

#video-bg{}

#content-wrapper{
	position:relative;
	width:100%;
	margin:auto;
	background:rgba(0,0,0,0.6);
	background-position:top center;
	display:none;
	z-index:3;
	margin-top:120px;
	margin-top:60px;
}
#menu-bar{
	position:relative;
	width:100%;
	background:#eee;
	font-weight: 400; 
	
}
#menu-bar ul{
	text-align:center;
	margin:0;
	padding:0;
}
#menu-bar li{
	display:inline-block;
	padding:14px 0;
	margin:0 40px;
	font-size:1.4em;
	cursor: pointer;
}

#featured-pages{
	position:relative;
	width:100%;
	height:auto;
	/*background:#121212;*/
}

.link-bar{
	position:relative;
	padding-top:120px;
	position:relative;
	width:100%;
	max-width:1370px;
	margin:auto;
	height:auto;
	//background:#121212;
	text-align:center;
	z-index:1;
}

.link-bar:first-child{
	padding-top:80px;
}

.link-category{
	position:relative;
	display:inline-block;
	padding:14px 0 14px 0;
	margin:0;
	width:100%;
	font-size:3.1em;
	font-weight: 400; 
}


.link-element{
	position:relative;
	color:#eee;
	display:inline-block;
	padding:14px 0 24px 0;
	margin:0 60px;
	width:auto;
	font-size:2.0em;
	font-weight: 400;
	cursor:pointer; 
}
.link-bar:last-child{
	padding-bottom:200px;
}

#featured-pages .anagram{
	position:absolute;
	bottom:0;
	width:100%;
	height:100px;
	margin:100px auto 20px auto;
	z-index:0;
}

#intro-blurb {
	width:100%;
	height:100%;

}

#intro-blurb.show {
	opacity:1;
	-webkit-transition: opacity .4s ease;
}
#intro-blurb.hide {
	opacity:0;
	-webkit-transition: opacity .4s ease;
}

#intro-blurb  p, #intro-text{
	font-family: 'Nunito', sans-serif;
	font-weight:400;
	width:80%;
	max-width:1280px;
	padding-top:20%;
	font-size:4.2em;
	line-height:1.2em;
	text-align:center;
	margin:auto;
	color:#eee;
}

.ios #intro-blurb  p, #intro-text{
	font-family: 'Nunito', sans-serif;
	font-weight:400;
	width:80%;
	max-width:1280px;
	padding-top:20%;
	font-size:3.2em;
	line-height:1.2em;
	text-align:center;
	margin:auto;
	color:#eee;
}

.android #intro-blurb  p, #intro-text{
	font-family: 'Nunito', sans-serif;
	font-weight:400;
	width:80%;
	max-width:1280px;
	padding-top:20%;
	font-size:3.2em;
	line-height:1.2em;
	text-align:center;
	margin:auto;
	color:#eee;
}

.quote{
	position:relative;
	width:100%;
}

.quote p{
	width:80%;
	max-width:1200px;
	padding:140px 0;
	font-size:4.2em;
	line-height:1.2em;
	text-align:center;
	margin:auto;
}

.ios .quote p{
	width:80%;
	max-width:1280px;
	padding:140px 0;
	font-size:3.2em;
	line-height:1.2em;
	text-align:center;
	margin:auto;
}

.android .quote p{
	width:80%;
	max-width:1280px;
	padding:140px 0;
	font-size:3.2em;
	line-height:1.2em;
	text-align:center;
	margin:auto;
}
	
#footer{
	position:relative;
	width:100%;
	/*background:#111;*/
	color:#eee;
	font-weight: 400; 
	padding-top:80px;
	
}
#footer ul{
	position:relative;
	text-align:center;
	margin:0;
	padding:0;
}
#footer li{
	display:inline-block;
	padding:14px 0;
	margin:0 40px;
	font-size:1.4em;
	cursor: pointer;
}
#footer .anagram{
	position:relative;
	width:300px;
	height:300px;
	margin:60px auto 80px auto;
	cursor:pointer;

}
.image{
	position:relative;
	width:100%;
	margin:0;
	padding:0;
}
.image.test{
	height:700px;
	background:#eee url('http://farm8.staticflickr.com/7284/8744250757_309c1608fb_b.jpg');
	background-position: center;
	background-size: cover;
}