*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
/*======== reset/cleanup of browser css =============*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}
body{font-size:12px;*font-size:small;*font:x-small;}
table {font-size:inherit;font:100%;}select, input, textarea {font:99% arial,helvetica,clean,sans-serif;}pre, code {font:115% monospace;*font-size:100%;}
/*======== reset/cleanup of browser css =============*/

::-webkit-scrollbar{
	display:none;	
}


#bg{
	width:100%;
	height:100%;
	position:absolute;
	left:0;top:0;
	z-index:1;
	background:yellow;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
}

#g {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

.main{
	position:relative;
	width:100%;
	
	/*max-width:715px;*/
	xmin-height:500px;
	margin:auto;
	text-align:center;
	color:#111;
	font-weight:normal;
	font-size:4vw;
	line-height:1.2em;
	background:lime url('http://farm8.staticflickr.com/7442/11642193984_60fc4ec32c_b.jpg') no-repeat center 66% fixed;
    background-size:cover;
}

.main-inner{
	position:relative;
}

.scroll{
	max-width:984px;
	margin:auto;
}

.section{
	background:deeppink;
	font-size:2.3em;
	margin:40px 0px;
	padding:60px 40px;
}

.section h3{
	font-size:4.3em;
	margin-bottom:60px;
}

/*==== black sticky submenu ================*/
.submenu-hole{
	height:90px;
	xmargin-top:-90px;
	position:relative;
	opacity:1;
}

.submenu{
	background:#000;
	width:100%;
	min-height:90px;

	font-size:21px;
}
.submenu a, .submenu{
	color:#fff;
}
.submenu-content{
	max-width:984px;
	margin:auto;
	position:relative;
	padding-top:17px;
}
.submenu .logo, .submenu .uparrow{
	position:absolute;
	display:block;
}
.submenu  .uparrow{
	transform:scale(0.9);-webkit-transform:scale(0.9);
	opacity:0;
	transition:all .5s;-webkit-transition:all .5s;
}
.submenu.stuck .logo{
	transform:scale(1);-webkit-transform:scale(1);
	opacity:1;
	transition:all .5s;-webkit-transition:all .5s;
}

.submenu  .logo{
	transform:scale(0.4);-webkit-transform:scale(0.4);
	opacity:0;
	transition:all .5s;-webkit-transition:all .5s;
}
.submenu.stuck .uparrow{
	transform:scale(1);-webkit-transform:scale(1);
	opacity:1;
	transition:all .5s;-webkit-transition:all .5s;
}

.submenu .logo{
	left:10px;
	top:17px;
	background:url("") no-repeat;
	background:yellow;
	width:60px;
	height:64px;
}
.submenu .uparrow{
	display:inline-block;
	right:10px;
	top:22px;
	background:url("") no-repeat;
	background:yellow;
	color:black;
	text-align:center;
	vertical-align: middle;
	width:46px;
	height:46px;
	padding-top:8px;
}
.submenu-items{
	text-align:center;
	padding-top:17px;
}
.submenu-items a{
	display:inline-block;
	margin:0 25px;
}
.stuck{
	position:fixed;
	top:0;
	left:0;
	z-index:5;
}
.submenu h1{display:none;}
.submenu-button{
	width:39px;
	height:38px;
	display:none;
	cursor:pointer;
	position:absolute;
	right:5px;
	top:9px;
	background:url("") no-repeat center center;
	background:dodgerblue;
	background-size:19px 19px;
}
#footer{
	box-sizing:border-box;
	width:100%;
	background:#000000;
	text-align:center;
	color:#eeeeee;
	font-size:2.4em;
	padding:240px 0 80px 0;
}