body {
	margin: 0;
	font: 12px/14px  Arial, Helvetica, Verdana, sans-serif;
	background-image: none;
	background-color: deepskyblue; 
	font-weight: bold;
	color: #333;
}

h1, h2 {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	color: #333;	
}

h2.menu{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	color: #333;
	margin: 3;
	
}

h3, h4, h5 {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	color: #333;
	margin: 0;
}

pre {
	background-color: #eeeeee;
	padding: 10px;
	font-size: 11px;
}

fieldset {
	background-color: #f6f6f6;
	border: 1px solid #ccc;
	margin: 0;
}

a {
	color: #FF3300;
	font-weight: bold;
	background-color: #ffffff;
	text-decoration: none;
}

a:hover {
	color:   #ffffff;
	text-decoration: none;
	background-color: #FF3300;
}

img {
	border: none;
}


form {
	margin: 0;
}

input {
	font-size: 12px/14px ;
	font-weight: bold;
}


ul{
	list-style: none;
	margin: 0;
	padding-left: 0;
}

 
li {
	list-style: none;
	margin: 0;
	padding-left: 15;
}
p{
	padding:0;
	background-color: none;
	font-weight: bold;
}
p.big  {

	padding:0;
	font: 100px Arial, Helvetica, Verdana, sans-serif;
	background-color: none;
	font-weight: bold;
}

/* Layout*/

#content-wrapper {
	margin:  auto;
	width: 720px;
	
	padding: 10px;
	position: relative;
	background-color: none;
}

#sidebar {
	background-color: none;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 190px;
	padding: 10px;
	border: 0px solid red;
}

#sidebar.small {
	background-color: none;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 120px;
	padding: 10px;
	border: 0px solid red;
}




/* IDs */
#page{
	margin-left: 20;
	border: 0px solid green;
}


#content {
	margin-left: 20;
	background-color: none;
	border: 0px solid red;
	padding: 10px;
	border: 0px black;
	width: 720px;
	
}


#content_right {
	background-color: white;
	border: 0px solid red;
	padding: 10px;
	border: 0px black;
	text-align:right;
}


#header {
	background-color: none;
	text-align:right;
	padding: 10px;
	border: -px solid red;
}


#footer {
	background-color: none;
	text-align:right;
	padding: 10px;
	border: 0px solid red;

}

#chiquito {
	
	font: 12px/14px  Arial, Helvetica, Verdana, sans-serif;
	background-color: white;
	border: 0px solid red;
	font-weight: bold;

}