body {
	margin: 0;
	font: 12px/14px Arial, Helvetica, Verdana, sans-serif;
	background-image: url("images/clouds_yellow.png");
	background-color: #fff; 
	font-weight: bold;
	color: deeppink;
}

h1, h2 {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	color: #333;	
}

h2.menu{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	color: #333;
	margin: 3;
	
}

h3, h4, h5 {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	color: #333;
	margin: 0;
}

pre {
	background-color: #eeeeee;
	padding: 10px;
	font-size: 11px;
}

fieldset {
	background-color: #f6f6f6;
	border: 1px solid #ccc;
	margin: 0;
}

a {
	color: deeppink;
	font-weight: bold;
	background-color: #222;
	text-decoration: none;
}

a:hover {
	color: #222;
	text-decoration: none;
	background-color: deeppink;
}

img {
	border: none;
}
img.x
{
position:absolute;
left: 610px;
top: 0 px
z-index:-1
}

img.y
{
position:absolute;
left: 120px;
top: 320px
z-index:-2
}

form {
	margin: 0;
}

input {
	font-size: 18px;
	font-weight: bold;
}


ul{
	list-style: none;
	margin: 0;
	padding-left: 0;
}

 
li {
	list-style: none;
	margin: 0;
	padding-left: 15;
}
p {
	background-color: white;
	padding:10;

	background-color: white;
	font-weight: bold;
}

#clock {
	margin:  auto;
	position: relative;
	left: 170px;
	
	
	

}

/* Layout*/

#content-wrapper {
	margin:  auto;
	width: 640px;
	
	padding: 10px;
	position: relative;
	background-color: none;
}

#sidebar {
	background-color: none;
	position: absolute;
	top: 10px;
	left: 0px;
	width: 190px;
	padding: 10px;
	border: 0px solid red;
}

#sidebar.small {
	background-color: none;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 120px;
	padding: 10px;
	border: 0px solid red;
}




/* IDs */
#page{
	margin-left: 0;
	border: 0px solid green;
}


#content {
	margin-left: 0;
	background-color: none;
	border: 0px solid red;
	padding: 10px;
	border: 0px black;
	width: 640px;
	font: 72px Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	
}


#content_right {
	background-color: white;
	border: 0px solid red;
	padding: 10px;
	border: 0px black;
	text-align:right;
}


#header {
	background-color: none;
	text-align:right;
	padding: 10px;
	border: -px solid red;
}


#footer {
	background-color: none;
	text-align:right;
	padding: 10px;
	border: 0px solid red;

}